@font-face {
    font-family: 'Open Sans';
    src: url('../Opun-Regular/Opun-Regular.ttf');
}

.clickword{
    display:block;
    color:#444;
    border:1px solid #F2F2F2;
    background:#F2F2F2;
    cursor:pointer;
    padding: 5px;
    text-align: center;
    max-width: 13%;
}
.clickwordquiz{
    display:block;
    color:#444;
    border:2px solid #df1010;
    background:#F2F2F2;
    cursor:pointer;
    padding: 5px;
    text-align: center;
    max-width: 13%;
}
.buttonChapter{
    font-family: 'Open Sans';
    width:150px;
    height:80px;
    font-size:20px !important;
}


  .overlayName{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.popupboxPass{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.camera{
    position: relative;
    right:0;
}

.videoplayer{
    height: 20px;
    width: 10px;
}

.videoplayerbox{
    width:600px;
    float:right;
    text-align: right;
    border:solid 2px red;
}

.lessonBox{
    width:15%;
    float:left;
    text-align: left;
    border:solid 2px red;

}

.lessonCotainer{
    max-width: 2000px;
    text-align: center;
    margin: 10px;
}

.nextwordbox{
    text-align: left;
    width: 30%;
    position:absolute;
    top: 600px;
    left:0;
    margin:10px;
}

.nextwordbutton{
    margin:2px;
}

.youtubePlayer{
    height: '390';
    width: '380';
}

.title{
    font-family: 'Open Sans';
    text-align: left;
    left:0;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.listgroup{
    font-family: 'Open Sans';
    width:150px;
    height:50px;
    text-align: center;
    vertical-align: center;
    cursor:pointer;
    padding: 10px 0;
    box-shadow: 10px #888888;
    border: solid 0.005em #DBDBDB;
    font-size: 20px;
}
.showscore{
    font-family: 'Open Sans';
    font-size: 30px;
    right:0;
}

.showscoreContainer{
    text-align: center;
}
.buttonscore{
    margin:10px;
}
.successexam{
    width:300px;
}

.showscoreContainer2{
    text-align: center;
}
.buttonscore2{
    margin:10px;
}
.successexam2{
    width:300px;
}

.showscore2{
    font-family: 'Open Sans';
    font-size: 30px;
    right:0;
    text-align: center;
}

.examcontainer{
    text-align: center;
}

.wordtestcam{
    font-family: 'Open Sans';
    font-size: 35px;
}

.opencamtest{
    margin:2px;
}