@font-face {
    font-family: 'Open Sans';
    src: url('../Opun-Regular/Opun-Regular.ttf');
}

.container{
    max-width: 1500px;
    height:100%;
    position: relative;
    /* border: 2px solid blue; */
    margin: auto;
}

.choosechapter{
    /* border: 2px solid blue; */
    margin-top: 20px;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 36px;
}

.background{
    position:absolute;
    width:90%;
    left:50%;
    transform: translate(-50%);
    background-color: #F9F9F9;
}

.iconPos{
    display:inline-block;
    vertical-align: middle;
    margin-top:5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* border: 2px solid red; */
}   

.imgIcon{
    display:block;
    width: 80%;
    margin:auto;
    cursor:pointer;
    transition: .2s;
}

.imgIcon:hover{
    transform: scale(1.1);
}

.nameCategory{
    font-family: 'Open Sans';
    text-align: center;
    margin-top: 5px;
    font-size:20px;
}

.multimiddle{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}