.container{
    max-width: 2000px;
    /* border: 5px solid black; */
    margin: auto;
}

.above{
    width:100%;
    height:200px;
    background-color:green;
}
.propic{
    width: 100%;
}

.propicPos{
    position: absolute;
    left:3%;
    top:50%;
    transform: translate(0,-50%);
}



.nOfollowingAbove{
    
}

.followingAbovePos{
    position:absolute;
    left:40%;
    top:45%;
    transform: translate(0,-50%);
}



.nOfollowerAbove{
}

.followerAbovePos{
    position:absolute;
    left:50%;
    top:45%;
    transform: translate(0,-50%);
}

.editProfileButtonPos{
    position:absolute;
    left: 80%;
    top:40%;
    transform: translate(0,-50%);
}

.editProfileButton{
    width:135%;
    height: 50px;
    border-radius: 10%;
    border:0px;
    text-align: 30%;
    color:white;
    background-color: #11324D;
    font-size:14px;
    text-align: right;
    padding-right: 1em;
    cursor: pointer;
}

.pencilPos{
    position:absolute;
    top:25%;
    width:22%;
    left:8%;

}

/* ///////////////////////////////////////////////////////////////////////// */
.statBG{
    position:absolute;
    width:70%;
    height:auto;
    background-color:red;
}

.statboxBG{
    float: left;
    background-color: #F2F2F2;
    width:40%;
    border:2px solid black;
    text-align: center;
}

.multimiddle{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lessonword{
    display: block;
}

.lessonquiz{
    display:inline;
    
}

.wordallPos{
    position:relative;
}


.namecategory{
    display: block;
}

.follow{
    position:absolute;
    right:0;
    width:30%;
    height:auto;
    background-color:red;
    border: 2px solid black;
}

.namePos{
    position:absolute;
    left:12%;
    top:50%;
    transform: translate(0,-50%);
    border: 2px solid red;
}

.nameuser{
    position:absolute;
    left:50%;
    top:40%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color:white;
    font-size:20px;
}


.followProfileButtonPos{
    position:absolute;
    left: 80%;
    top:40%;
    transform: translate(0,-50%);
}


.followProfileButton{
    width:135%;
    height: 50px;
    border-radius: 10%;
    border:0px;
    text-align: center;
    color:white;
    background-color: #11324D;
    font-size:14px;
}


.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
  }


  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
.close:hover {
    cursor: pointer;
    color: #000;
  }

  .popupbox {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }