@font-face {
    font-family: 'Open Sans';
    src: url('../Opun-Regular/Opun-Regular.ttf');
}

.containerprofile{
    max-width: 1500px;
    /* min-width: 80%; */
    /* border: 5px solid pink; */
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    /* text-align: center; */
}

.container1{
    max-width: 1500px;
    /* border: 5px solid black; */


}

.above{
    width:100%;
    height:200px;
    /* background-color:green; */
}

.propic{
    /* width: 100%; */
    width: 130px;
}

.propicPos{
    position: relative;
    left:50px;
    /* top:50%; */
    top:100px;
    transform: translate(0,-50%);
    display: inline-block;
}

.followingAbovePos{
    font-family: 'Open Sans';
    font-size: 16px;
    position:absolute;
    /* left:600px; */
    left: 50%;
    /* left: 0%; */
    /* top:45%; */
    top: 100px;
    transform: translate(0,-50%);
    display: inline-block;
}

.nOfollowingAbove{
    text-align: center;
}

.followerAbovePos{
    font-family: 'Open Sans';
    font-size: 16px;
    position:absolute;
    /* left: 0%; */
    /* left:750px; */
    left: 65%;
    top:100px;
    transform: translate(0,-50%);
    display: inline-block;
}

.nOfollowerAbove{
    text-align: center;
}


.editProfileButtonPos{
    position:absolute;
    left: 80%;
    /* left: 900px; */
    /* right: 0; */
    top:110px;
    transform: translate(0,-50%);
    display: inline-block;
}

.editProfileButton{
    width:135%;
    height: 50px;
    border-radius: 10px;
    border:0px;
    text-align: 30%;
    color:white;
    background-color: #11324D;
    font-size:14px;
    text-align: right;
    padding-right: 1em;
    cursor: pointer;
    display: inline-block;
    transition: 0.6s;
}

.editProfileButton:hover{
    background-color: #1f5b8c;
    color: white;
}

@media screen and (max-width: 1055px){

    .followerAbovePos{
        left: 70%;
    }

    .followingAbovePos{
        left: 530px;
    }
}


/* @media screen and (max-width: 900px){

    .followerAbovePos{
        top: 210px;
        left: 10%;
    }

    .followingAbovePos{
        top: 210px;
        left: 25%;
    }

    .statBG{
        top: 250px;
        width: 100%;
    }

    .follow{
        top:1050px !important;
    }

} */

@media screen and (max-width:795px) {
    .follow{
        top:1610px !important
    }
}

@media screen and (max-width: 700px){

    .editProfileButtonPos{
        top: 210px;
        left: 200px;
    }

    .statBG{
        top: 250px;
        width: 100%;
    }

}

.containeredit{
    margin-left: 20%;
    height: 195px;
    /* border: 5px solid black; */
}

.containeredit1{
    border: 1px solid blue;
    position: relative;
    margin-left: 20%;
    margin-top: 0px;
    float: left;
}

@media screen and (max-width:570px){
    /* .containeredit{
        margin-left: 0%;
        text-align: center;
    } */
}

@media screen and (max-width:485px){
    /* .inputname1{
        width: 50%;
    } */
}



.editProfileBackground{
    position:absolute;
    border-radius: 10px;
    top:30%;
    bottom: 10%;
    width:80%;
    left:50%;
    transform: translate(-50%);
    /* border: 2px solid black; */
    background-color: #cacaca;
}

.editnametext{
    margin-top: 35px;
    margin-left: 20%;
    font-size: 30px;
    font-family: 'Open Sans';
    position:relative;
    top:20px;
    right:15%;
    width:200px;
}

.editpasstext{
    /* margin-left: 210px; */
    font-size: 20px;
    font-family: 'Open Sans';
    margin-top:30px;
    /* border: 1px solid black; */
}

.editboxtext{
    position: relative;
    margin-top: 70px;
    font-size: 20px;
    font-family: 'Open Sans';
    /* border:2px solid red; */
}

.oldpassinput{
    font-family: 'Open Sans';
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #cacaca;
    width: 340px;
    box-shadow: 3px 5px 5px #cacaca;
    display: inline-block;
    /* position:absolute; */
    
}

.newpassinput{
    font-family: 'Open Sans';
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #cacaca;
    width: 340px;
    box-shadow: 3px 5px 5px #cacaca;
    display: inline-block;
    top:0%;
    position:relative;
}

.confirmpassinput{
    font-family: 'Open Sans';
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #cacaca;
    width: 340px;
    box-shadow: 3px 5px 5px #cacaca;
    display: inline-block;
    top:0%;
    position:relative;
}

@media screen and (max-width:1300px){
    /* .confirmpassinput{
        margin-top: 35px;
        margin-left: 0%;
    }
    .newpassinput{
        margin-top: 35px;
        margin-left: 0%;
        display: block;
    } */
}


.showname{
    /* margin-left: 210px; */
    display:inline;
}

.showname2{
    /* margin-left: 210px; */
    /* border:2px solid black; */
    position:relative;
    /* margin:30px; */
    /* left:30px; */
}

/* .passtext{
    float:left;
    position:relative;
    right:30px;
} */

.uploadpos1{
    /* border: 2px solid black; */
    width: 350px;
    height: 500px;
    /* height: 100%; */
    margin-top: 0px;
    float:left;
    margin-left: 0% !important;
    position: relative !important;
}

.button-editName{
    font-size: 14px;
    width: 90px;
    /* border-color: none; */
    border: 0px;
    margin-left: 3%;
    transition: 0.6s;
    border-radius: 8px;
}
.button-editName2{
    font-size: 14px;
    width: 90px;
    /* border-color: none; */
    border: 0px;
    margin-left: 3%;
    transition: 0.6s;
    border-radius: 8px;
}

.button-delete{
    font-family: 'Open Sans';
    position:sticky;
    border-radius: 8px;
    margin-top: 35px;
    margin-bottom: 70px !important;
    /* margin-top: 50px; */
    /* display: block; */
    /* right:250px; */
    /* bottom: 10px; */
    /* top: 540px; */
    transition: background-color 0.6s;
}

.button-delete:hover{
    background-color: rgb(160, 36, 36);
}

/* width:135%;
    height: 50px;
    border-radius: 10px;
    border:0px;
    text-align: 30%;
    color:white;
    background-color: #11324D;
    font-size:14px;
    text-align: right;
    padding-right: 1em;
    cursor: pointer;
    display: inline-block;
    transition: 0.6s; */

.savechange-button{
    font-size: 14px;
    font-family: 'Open Sans';
    height: 40px;
    border: 0px !important;
    margin-top: 35px;
    transition: background-color 0.6s;
    border-radius: 8px;
    margin-left: 20%;
    position:relative;
    /* top:10%; */
    left:-4%;
    z-index: 2;
    display: inline-block;
    
}

.savechange-button2{
    font-size: 14px;
    font-family: 'Open Sans';
    height: 40px;
    margin-top: 0px;
    position:relative;
    margin-left: 10px;
    border-radius: 8px;
    transition: 0.6s;
}


.canclechange-button2{
    font-size: 14px;
    font-family: 'Open Sans';
    height: 40px;
    margin-top: 0px;
    position:relative;
    margin-left: 100px;
    border-radius: 8px;
    transition: 0.6s;
}

.canclechange-button{
    font-size: 14px;
    font-family: 'Open Sans';
    border: 0px;
    height: 40px;
    margin-top: 35px;
    margin-left: 10px;
    transition: 0.6s;
    border-radius: 8px;
    position:relative;
    left:9%;
    /* top:10%; */
}

.canclechange-button:hover{
    background-color: #1f5b8c;
    color: white;
}

.pencilPos{
    position:absolute;
    top:25%;
    left: 8%;
    width:25px;
    /* left:8%; */
    /* display: inline-block; */
}

/* ///////////////////////////////////////////////////////////////////////// */
.statBG{
    position:absolute;
    /* width:920px; */
    width: 90%;
    border-radius: 10px;
    /* margin-left: 10px; */
    margin-left: 5%;
    background-color:#f2f2f2;
    /* background-color: red; */
    box-shadow: 3px 5px 5px #cacaca;
    /* top: 300px; */
}

/* @media screen and (max-width: 1000px) {
    .statBG{
        width: 95%;
        left: 0%;
    }

    .follow{
        top: 1000px;
        width: 95% !important;
        left: 2%;
    }

    .multimiddle{
        height: 40px !important;
    }
} */

.vl{
    border-left: 1px solid #cacaca;
    position: absolute;
    left: 50%;
    /* margin-left: 5%; */
    height: 100%;
}

.statboxBG{
    float: left;
    height: 150%;
    /* background-color: #F2F2F2; */
    width:50%;
    border-bottom:1px solid #cacaca;
    font-size: 15px;
    text-align: center;
    /* position: relative; */
}

.selectprefix1{
    font-family: 'Open Sans';
    /* margin-left: 100px; */
    margin-left: 8px;
    display: inline-block;
}

.prefix1{
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 0px 5px;
    box-shadow: 3px 5px 5px #cacaca;
}

.inputname1{
    font-family: 'Open Sans';
    padding: 12px 20px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #cacaca;
    width: 340px;
    box-shadow: 3px 5px 5px #cacaca;
    display: inline-block;
    top:0%;
    position:relative;
}

.inputsurname1{
    font-family: 'Open Sans';
    padding: 12px 20px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #cacaca;
    width: 340px;
    box-shadow: 3px 5px 5px #cacaca;
    left:14%;
    top:8%;
    position:relative;
}

@media screen and (max-width:860px) {
    .uploadpos1{
        position: absolute !important;
        /* right: 28%; */
        width: 100%;
        /* height: 100%; */
        border: 1px solid red
    }

    .editboxtext{
        /* text-align: center; */
        z-index: 10;
        margin-top: 300px;
        border: 1px solid blue;
    }

    .savechange-button{
        z-index: 2;
    }

    .editpasstext{
        border: 1px solid blue;
        text-align: center;
    }

    .containerEditall{
        /* height: 700px !important; */
        height: 100% !important;
    }

    .button-delete{
        position: relative;
        margin-top: 30px;
        margin-left: 80%;
        margin-bottom: 10px;
    }

    .containeredit{
        /* right: 30%; */
        position: relative;
        margin-left: 0%;
        border: 1px solid red;
        text-align: center;
        /* margin-left: 0%; */
        /* margin-right: 30%; */
        /* text-align: center; */
    }

    .inputsurname1{
        left: 50px !important;
    }

    .savechange-button{
        left: 0px;
    }

    .namecenter{
        text-align: center;
    }
    
}

@media screen and (max-width:630px) {
    
}



.lessonword{
    display: inline-block;
}

.lessonquiz{
    display:inline-block;
    
}

.wordallPos{
    margin-top: 2%;
    font-family: 'Open Sans';
    position:relative;
}

.namecategory{
    display: block;
}

.follow{
    position:absolute;
    /* right:3%; */
    width:21%;
    /* height:100%; */
    height: 500px;
    /* margin-top: 100px; */
    background-color:#f2f2f2;
    border-radius: 15px;
    /* border: 2px solid black; */
    box-shadow: 3px 5px 5px #cacaca;
    display: block;
    right: 1%;
    /* float: left; */
}

.showfollower{
    font-family: 'Open Sans';
    width: 50%;
    border: 0px;
    background-color: #11324D; 
    color: #f2f2f2;
    border-top-right-radius: 15px;
}

.showfollower:focus-within{
    background-color: #f2f2f2; 
    color: #11324D;
}


.showfollowing{
    font-family: 'Open Sans';
    width: 50%;
    border: 0px;
    background-color:#f2f2f2;
    border-top-left-radius: 15px;
}


.multimiddle{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 8%;
    position: relative;
}

.namePos{
    position:relative;
    /* left:5%; */
    left:60px;
    top:35px;
    transform: translate(0,-50%);
    /* border: 2px solid red; */
    display: inline-block;
}

.nameuser{
    position:absolute;
    left:50%;
    top:40%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color:white;
    font-size:20px;
}

.nameProfileBox{
    width: 100%;
}


.followProfileButtonPos{
    position:absolute;
    left: 80%;
    top:40%;
    transform: translate(0,-50%);
}


.followProfileButton{
    width:135%;
    height: 50px;
    border-radius: 10%;
    border:0px;
    text-align: center;
    color:white;
    background-color: #11324D;
    font-size:14px;
}


.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.close:hover {
    cursor: pointer;
    color: #000;
}

.popupbox {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.overlayName{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.popupboxName{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.closeName {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.closeName:hover {
    cursor: pointer;
    color: #000;
}

.overlayPass{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.popupboxPass{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.closePass{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.closePass:hover {
    cursor: pointer;
    color: #000;
}

.showscorestat{
    position:relative;
    /* width: 300px; */
    width: 100%;
    /* left:18%; */
    /* border:2px solid red */
}

.scorestatall1{
    /* float:left; */
    margin-left: 20px;
    display: inline-block;
}

.scorestatall2{
    /* float:right; */
    margin-left: 130px;
    display: inline-block;
}

.previewimage{
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 6px;
    cursor: pointer;
    background: linear-gradient(270deg, #3fa1a9, #79f1a4);
    margin-bottom: 25px;
}

.img-wrap{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

.img-upload:before{
    content: url('https://cdn.discordapp.com/attachments/912175328066142240/946400596209045524/unknown.png');
    font-size: 90px;
    position: absolute;
    padding-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #63d3a6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  }

.img-upload:hover:before {
   opacity: 1;
  }

.photo-upload{
    display: None;
}

.uploadprofilecard{
    /* background-color: #E0E0E0; */
    position: relative;
    width:250px;
    height: 400px;
    margin:auto;
    text-align: center;
    padding: 25px 0;
    z-index: !important;

}

.pictureprofile{
    width:140px;
    height:140px;
}



.previewimage2{
    /* border: 1px solid grey; */
    left: 3px;
    border-radius: 50%;
    display: inline-block !important;
    position: relative;
    padding: 6px;
    background: linear-gradient(270deg, #3fa1a9, #79f1a4);
    /* margin-bottom: 25px; */
}

.img-wrap2{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

.img-upload2:before{
    font-size: 90px;
    position: absolute;
    padding-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #63d3a6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
  }

.img-upload2:hover:before {
   opacity: 1;
  }

.photo-upload2{
    display: None;
}

.uploadprofilecard2{
    position:relative;
    /* width:0;
    height: 0;
    margin:auto;
    text-align: center;
    padding: 25px 0; */
    display: inline-block;
}

.pictureprofile2{
    width:120px;
    /* height:140px; */

}

.uploadprofilecard3{
    position:relative;
    right:4%;
}

.previewimage3{
    border-radius: 50%;
    position: relative;
    padding: 2px;
    background: linear-gradient(270deg, #3fa1a9, #79f1a4);
    cursor: pointer;
}

.pictureprofile3{
    width:45px;
    height:45px;
    border-radius: 50%;

}

.containerEditall{
    background-color: #f2f2f2;
    position:relative;
    width:850px;
    /* height:580px; */
    height: 100%;
    margin:auto;
    box-shadow: 3px 5px 5px #cacaca;
    border-radius: 10px;
    /* border: 1px solid red; */
}

@media screen and (max-width:900px){
    .containerEditall{
        width: 96%;
    }
}

