@font-face {
    font-family: 'Open Sans';
    src: url('../Opun-Regular/Opun-Regular.ttf');
}

.container{
    max-width: 2000px;
    /* border: 5px solid black; */
    margin: auto;
}

.above{
    width:100%;
    height:200px;
    /* background-color:green; */
}
.propic{
    width: 100%;
}

.propicPos{
    position: absolute;
    left:3%;
    top:50%;
    transform: translate(0,-50%);
}

.followingAbovePos{
    font-family: 'Open Sans';
    font-size: 16px;
    position:absolute;
    left:50%;
    top:45%;
    transform: translate(0,-50%);
}

.nOfollowingAbove{
    text-align: center;
}

.followerAbovePos{
    font-family: 'Open Sans';
    font-size: 16px;
    position:absolute;
    left:60%;
    top:45%;
    transform: translate(0,-50%);
}

.nOfollowerAbove{
    text-align: center;
}

.editProfileButtonPos{
    position:absolute;
    left: 80%;
    top:40%;
    transform: translate(0,-50%);
}

.editProfileButton{
    width:135%;
    height: 50px;
    border-radius: 10px;
    border:0px;
    text-align: 30%;
    color:white;
    background-color: #11324D;
    font-size:14px;
    text-align: right;
    padding-right: 1em;
    cursor: pointer;
}

.editProfileBackground{
    position:absolute;
    border-radius: 10px;
    top:30%;
    bottom: 10%;
    width:80%;
    left:50%;
    transform: translate(-50%);
    /* border: 2px solid black; */
    background-color: #cacaca;
}

.editnametext{
    margin-top: 3%;
    margin-left: 10%;
    font-size: 30px;
    font-family: 'Open Sans';
}

.editpasstext{
    margin-top: 4%;
    margin-left: 15%;
    font-size: 20px;
    font-family: 'Open Sans';
}

.editboxtext{
    margin-top: 5%;
    margin-left: 15%;
    font-size: 20px;
    font-family: 'Open Sans';
}

.button-editName{
    background-color: #11324D;
    color: white;
    font-size: 14px;
    top: 0%;
    width: 8%;
    height: 15%;
    border-color: none;
    margin-left: 3%;
    transition: 0.6s;
}

.button-editName:hover{
    background-color: white;
    color: #11324D;
}

.button-delete{
    font-size: 14px;
    font-family: 'Open Sans';
    background-color: red;
    color: white;
    border-color: red;
    margin-left: 15%;
    margin-top: 4%;
}


.savechange-button{
    font-size: 14px;
    font-family: 'Open Sans';
    background-color: #11324D;
    height: 35px;
    color: white;
    margin-top: 1px;
    transition: 0.6s;
}

.savechange-button:hover{
    background-color: white;
    color: #11324D;
}

.canclechange-button{
    font-size: 14px;
    font-family: 'Open Sans';
    background-color: #11324D;
    height: 35px;
    color: white;
    margin-top: 1px;
    margin-left: 10px;
    transition: 0.6s;
}

.canclechange-button:hover{
    background-color: white;
    color: #11324D;
}

.pencilPos{
    position:absolute;
    top:25%;
    width:22%;
    left:8%;

}

/* ///////////////////////////////////////////////////////////////////////// */
.statBG{
    position:absolute;
    width:60%;
    /* height:auto; */
    border-radius: 10px;
    margin-left: 3%;
    background-color:#f2f2f2;
    box-shadow: 3px 5px 5px #cacaca;
}

.vl{
    border-left: 1px solid #cacaca;
    position: absolute;
    left: 50%;
    /* margin-left: 5%; */
    height: 100%;
}

.statboxBG{
    float: left;
    height: 150%;
    /* background-color: #F2F2F2; */
    width:50%;
    border-bottom:1px solid #cacaca;
    font-size: 15px;
    text-align: center;
}

.multimiddle{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lessonword{
    display: block;
}

.lessonquiz{
    display:inline;
    
}

.wordallPos{
    margin-top: 2%;
    font-family: 'Open Sans';
    position:relative;
}


.namecategory{
    display: block;
}

.follow{
    position:absolute;
    right:1%;
    width:30%;
    height:150%;
    background-color:#f2f2f2;
    border-radius: 15px;
    /* border: 2px solid black; */
    box-shadow: 3px 5px 5px #cacaca;
}

.showfollower{
    font-family: 'Open Sans';
}

.showfollowing{
    font-family: 'Open Sans';
}

.namePos{
    position:absolute;
    left:13%;
    top:50%;
    transform: translate(0,-50%);
    /* border: 2px solid red; */
}

.nameuser{
    position:absolute;
    left:50%;
    top:40%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color:white;
    font-size:20px;
}


.followProfileButtonPos{
    position:absolute;
    left: 80%;
    top:40%;
    transform: translate(0,-50%);
}


.followProfileButton{
    width:135%;
    height: 50px;
    border-radius: 10%;
    border:0px;
    text-align: center;
    color:white;
    background-color: #11324D;
    font-size:14px;
}


.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.close:hover {
    cursor: pointer;
    color: #000;
}

.popupbox {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}


.overlayName{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.popupboxName{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.closeName {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.closeName:hover {
    cursor: pointer;
    color: #000;
}


.overlayPass{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.popupboxPass{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.closePass{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.closePass:hover {
    cursor: pointer;
    color: #000;
}

