.NavBarCSS{
    background-color: #CDF0EA;
    padding: 10px;
    position: relative;
    /* border-style: dashed; */
}

.home-pic{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.lesson-pic{
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.quiz-pic{
    margin-right: 10px;
    height: 30px;
    width: 30px;
}