@font-face {
    font-family: 'Open Sans';
    src: url('../Opun-Regular/Opun-Regular.ttf');
}

.container{
    max-width: 1500px;
    position: relative;
    /* border: 2px solid blue; */
    margin: auto;
}

.textemailpass{
    font-family: 'Open Sans';
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
}

.inputtext{
    font-family: 'Open Sans';
    /* margin-left: 37%; */
    text-align: center;
}

.inputemail1{
    margin-top: 30px !important;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 30%;
    border: 1px solid #cacaca;
    box-shadow: 3px 5px 5px #cacaca;
}

.inputpass{
    margin-top: 30px !important;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 30%;
    border: 1px solid #cacaca;
    box-shadow: 3px 5px 5px #cacaca;
}

.inputconfirmpass{
    margin-top: 30px;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 30%;
    border: 1px solid #cacaca;
    box-shadow: 3px 5px 5px #cacaca;
}



.nextbutton{
    margin-top: 40px;
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 18px;
    transition: 0.6s;
    margin-left: 45%;
    border: 1px;
}

.nextbuttonnew{
    margin-top:20px;
    margin-right:25%;
    float:right;
}
.canclebutton{
    margin-top:20px;
    margin-left:25%;
    float:left;
}
.fontconfirm{
    font-family: 'Open Sans';
    /* margin-top: 5%; */
    margin-top: 50px;
}

.confirmtext1{
    font-size: 20px;
    text-align: center;
}

.confirmtext2{
    font-size: 20px;
    text-align: center;
}

.inputotp{
    padding: 12px 20px;
    margin-top: 50px;
    /* margin-left: 40.2%; */
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #cacaca;
    width: 200px;
    box-shadow: 3px 5px 5px #cacaca;
}

.resendotp{
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    color: #0027F5;
}

.middle{
    text-align: center;
}

.submitotp{
    margin-left:20%;
    margin-top:15px;
}

.submitotp:hover{
    background-color: #1f5b8c;
    color: white;
}

.cancelotp{
    margin-right:20%;
    margin-top:15px;
}



.inputcenter{
    text-align: center;

}

.inputcenter1{
    /* text-align: center; */
    position: relative;
    margin-top: 0px;
    /* position: absolute; */
    /* border: 2px solid blue; */
    /* display: inline-block; */

}

.uploadpos{
    width: 300px;
    /* border: 2px solid black; */
    margin-top: 5px;
    position: relative;
    float:left;
    margin-left: 15%;
    z-index: 1;
}

@media screen and (max-width:1020px) {
    .nametext{
        margin-left: 90px !important;
    }
}

@media screen and (max-width:830px){
    .nameuploadpos{
        /* border: 1px solid blue; */
        right: 25%;
        /* text-align: center; */
        margin-top: 0px;
        position: absolute;
    }

    .nametext{
        /* border: 1px solid red; */
        /* text-align: center !important; */
        margin-left: 0% !important;
        margin-top: 40px !important;
    }

    .uploadpos{
        right: 13%;
    }

    .inputcenter1{
        margin-top: 320px;
        right: 25%;
        position:absolute;
    }

    .submitname{
        margin-top: 200px !important;
        /* right: 25%; */
        margin-left: 0% !important;
    }
}

.inputname{
    font-family: 'Open Sans';
    padding: 12px 20px;
    font-size: 18px;
    margin-left: 10px;
    /* margin-left: 3%; */
    text-align: center;
    border-radius: 10px;
    border: 1px solid #cacaca;
    width: 30%;
    box-shadow: 3px 5px 5px #cacaca;
    display: inline-block;
}

.selectprefix{
    font-family: 'Open Sans';
    margin-top: 60px;
    /* margin-left: 29.5%; */
    display: inline-block;
}

.prefix{
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 4px 6px;
    box-shadow: 3px 5px 5px #cacaca;
}

.inputsurname{
    font-family: 'Open Sans';
    padding: 12px 20px;
    margin-top: 20px;
    /* margin-left: 38.5%; */
    margin-left: 90px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #cacaca;
    width: 30%;
    box-shadow: 3px 5px 5px #cacaca;
}

.submitname{
    font-family: 'Open Sans';
    border: 0px;
    margin-left: 30%;
    padding: 10px 25px;
    font-size: 15px;
    transition: background-color 0.6s;
    top: 0px;
    position: absolute;
    margin-top: 240px;
}


.nametext{
    font-family: 'Open Sans';
    text-align: center;
    /* margin-left: 40%; */
    font-size: 20px;
    margin-top: 145px;
}

@media screen and (max-width: 900px){
    .inputemail1{
        width: 270px !important;
    }

    .inputconfirmpass{
        width: 270px !important;
    }

    .inputpass{
        width: 270px !important;
    }

    .inputotp{
        width: 270px;
    }

    .inputname{
        width: 270px;
    }

    .inputsurname{
        width: 270px;
    }

    .submitname{
        left: 390px;
    }
}
