@font-face {
    font-family: 'Open Sans';
    src: url('../Opun-Regular/Opun-Regular.ttf');
}

.container{
    max-width: 1500px;
    position: relative;
    /* border: 2px solid blue; */
    margin: auto;
}

.textemailpass{
    font-family: 'Open Sans';
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
}

.inputtext{
    font-family: 'Open Sans';
    /* margin-left: 37%; */
    text-align: center;
}

.inputemail{
    margin-top: 30px !important;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 30%;
    border: 1px solid #cacaca;
    box-shadow: 3px 5px 5px #cacaca;
}

.inputpass{
    margin-top: 30px !important;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 30%;
    border: 1px solid #cacaca;
    box-shadow: 3px 5px 5px #cacaca;
}

.inputconfirmpass{
    margin-top: 30px;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 30%;
    border: 1px solid #cacaca;
    box-shadow: 3px 5px 5px #cacaca;
}



.nextbutton{
    color: white;
    background-color: #11324D;
    margin-top: 40px;
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 18px;
    transition: 0.6s;
    margin-left: 45%;
    border: 1px;
}

.nextbutton:hover{
    background-color: #1f5b8c;
    color: white;
}

.fontconfirm{
    font-family: 'Open Sans';
    /* margin-top: 5%; */
    margin-top: 50px;
}

.confirmtext1{
    font-size: 20px;
    text-align: center;
}

.confirmtext2{
    font-size: 20px;
    text-align: center;
}

.inputotp{
    padding: 12px 20px;
    margin-top: 50px;
    /* margin-left: 40.2%; */
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #cacaca;
    width: 200px;
    box-shadow: 3px 5px 5px #cacaca;
}

.resendotp{
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    color: #0027F5;
}

.middle{
    text-align: center;
}

.submitotp{
    color: white;
    border: 0px;
    background-color: #11324D;
    margin-left: 25%;
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 15px;
    transition: 0.6s;
    margin-top: 40px;
    display: inline-block;
}

.submitotp:hover{
    background-color: #1f5b8c;
    color: white;
}

.cancelotp{
    display:inline-block;
    color: white;
    background-color: #11324D;
    border: 0px;
    /* margin-left: 30%; */
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 15px;
    transition: 0.6s;  
    /* left:50%; */
}

.cancelotp:hover{
    background-color: #1f5b8c;
    color: white;
}

.inputcenter{
    text-align: center;

}

.inputname{
    font-family: 'Open Sans';
    padding: 12px 20px;
    font-size: 18px;
    margin-left: 10px;
    /* margin-left: 3%; */
    text-align: center;
    border-radius: 10px;
    border: 1px solid #cacaca;
    width: 30%;
    box-shadow: 3px 5px 5px #cacaca;
    display: inline-block;
}

.selectprefix{
    font-family: 'Open Sans';
    margin-top: 60px;
    /* margin-left: 29.5%; */
    display: inline-block;
}

.prefix{
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 4px 6px;
    box-shadow: 3px 5px 5px #cacaca;
}

.inputsurname{
    font-family: 'Open Sans';
    padding: 12px 20px;
    margin-top: 20px;
    /* margin-left: 38.5%; */
    margin-left: 90px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #cacaca;
    width: 30%;
    box-shadow: 3px 5px 5px #cacaca;
}

.submitname{
    font-family: 'Open Sans';
    color: white;
    border: 0px;
    background-color: #11324D;
    margin-left: 65%;
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 15px;
    transition: 0.6s;
    margin-top: 20px;
}

.submitname:hover{
    background-color: #1f5b8c;
    color: white;
}

.nametext{
    font-family: 'Open Sans';
    text-align: center;
    font-size: 20px;
    margin-top: 45px;
}

@media screen and (max-width: 900px){
    .inputemail{
        width: 270px;
    }
    .inputconfirmpass{
        width: 270px;
    }
    .inputpass{
        width: 270px;
    }

    .inputotp{
        width: 270px;
    }

    .inputname{
        width: 270px;
    }

    .inputsurname{
        width: 270px;
    }

    .submitname{
        left: 500px;
    }
}
